<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gerenciador de Tarefas - Pagina Inicial</title>

<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />

</head>
<body>

	<div th:replace="fragmentos/fragmentos :: cabecalho">
	</div>
	
	<div class="container">
		<h2>Gerenciador de tarefas</h2>
		<p>Ola, seja bem vindo ao gerenciador de tarefas!</p>
		<p th:text="${mensagem}"></p>

		<script src="/webjars/jquery/3.4.1/jquery.min.js">
			
		</script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js">
			
		</script>
	</div>
</body>
</html>